body{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 9, 129);
    
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    background-color: white;
}

table {
       border: 1px solid;
       border-collapse: collapse;
       size: 15px;
       font-size: larger;
       align-items: center;
       
}

table, th, td {
    border: 1px solid;
    align-items: center;
    align-self: center;
    padding: 10px;
    
  }

  th, tr {
    background-color: white;
  }

ol, li {
    font-size: larger;
    text-align: left;
    background-color: white;
}

.centro {
    margin-left: auto;
    margin-right: auto;
  }

iframe{ 
       align-items: center;
}